.spoiler-block {
  background-color: #e6e6e6;
  [theme=dark] & {
    background-color: #1a1d23;
  }

	color: #161209;
	[theme=dark] & {
    color: #a9a9b3;
  }
}
.spoiler-text  {
	opacity: 0;
	transition: opacity 0.25s;
	&:hover {
		opacity: 100;
	}
}